<div ng-controller="contentController" class="content-container" ng-if="showContactGroups && showContactMenu">
    <div class="main-container">
        <div class="row container-head heading-top-margin">
            <span class="h1-text">Contact Groups ({$ filteredGroups.length $})</span>
            <div class="input-wrapper-active quarter-width right input-align-big-label">
                <i class="glyphicon glyphicon-search caption-text-size i-align-big-label"></i>
                <input type="text" class="input-text-large" ng-model="query" ng-change="search()" placeholder="Search">
            </div>
        </div>
        <div class="row">
            <table class="table contact-groups">
                <thead class="table-heading aqua-back">
                    <tr>
                        <th class="name">
                            <a href="#" ng-click="sorting.order='name'; sorting.reverse.name = !sorting.reverse.name">
                                Name
                                <span>
                                    <span class="glyphicon glyphicon-triangle-top right white-front" aria-hidden="true" ng-show="!sorting.reverse.name"></span>
                                    <span class="glyphicon glyphicon-triangle-bottom right white-front" aria-hidden="true" ng-show="sorting.reverse.name"></span>
                                </span>
                            </a>
                        </th>
                        <th class="created-on">
                            <a href="#" ng-click="sorting.order='created_at'; sorting.reverse.created_at = !sorting.reverse.created_at">
                                Created On
                                <span>
                                    <span class="glyphicon glyphicon-triangle-top right white-front" aria-hidden="true" ng-show="!sorting.reverse.created_at"></span>
                                    <span class="glyphicon glyphicon-triangle-bottom right white-front" aria-hidden="true" ng-show="sorting.reverse.created_at"></span>
                                </span>
                            </a>
                        </th>
                        <th class="rules">
                            <a href="#" ng-click="sorting.order='filters'; sorting.reverse.filters = !sorting.reverse.filters">
                                Rules
                                <span>
                                    <span class="glyphicon glyphicon-triangle-top right white-front" aria-hidden="true" ng-show="!sorting.reverse.filters"></span>
                                    <span class="glyphicon glyphicon-triangle-bottom right white-front" aria-hidden="true" ng-show="sorting.reverse.filters"></span>
                                </span>
                            </a>
                        </th>
                        <th class="buttons"></th>
                    </tr>
                </thead>
                <tbody class="table-rows">
                    <tr ng-repeat="(key, data) in pagedGroups[currentPage] | orderBy:sorting.order:sorting.reverse[sorting.order]" class="results-row">
                        <td>{$ data.name $}</td>
                        <td>{$ data.created_at | date:'MM-dd-yyyy'$}</td>
                        <td>{$ data.query_words $}</td>
                        <td>
                            <button class="table-button" ng-click="showEditContact(data.name , data.filters, data.group_key)">Edit</button>
                            <button class="table-button" data-toggle="modal" data-target="#confirm-delete" ng-click="setGroupKey(data.group_key)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row paging" ng-if="pagedGroups.length != 1">
            <ul>
                <li class="paging-item" ng-repeat="n in range(pagedGroups.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                    <a href ng-bind="n + 1" ng-class="n == currentPage ? 'current-page' : 'not-current-page'">1</a>
                </li>
            </ul>
        </div>
        <div class="modal modal-dialog-center" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel"><b>Are you Sure?</b></h4>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this contact group? This will not delete the contacts themselves but will delete the group.
                    </div>
                    <div class="modal-footer">
                        <button class="red" ng-click="deleteContactGroup()" data-dismiss="modal">Delete</button>
                        <button class="orange" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>