<div ng-controller="contentController" class="col-md-8" ng-if="showContactGroups">
    <div class="groups-main-container">
        <div class="container-head">
            <span class="container-heading ">Contact Groups ({$ filteredContactGroups.length $})</span>
            <div class="input-wrapper-active quarter-width right">
                <input type="text" ng-model="query" ng-change="search()" placeholder="Search">
            </div>
            <input class="right search-checkbox" type="checkbox">
        </div>
        <div>
            <table class="table table-striped">
                <thead class="table-heading white-font">
                    <tr>
                        <th class="name">
                            <a href="#" ng-click="sortingOrder='name'; reverseSort = !reverseSort">
                                Name
                                <span ng-show="sortingOrder == 'name'">
                                    <span class="glyphicon glyphicon-triangle-top right white-font" aria-hidden="true" ng-show="!reverseSort"></span>
                                    <span class="glyphicon glyphicon-triangle-bottom right white-font" aria-hidden="true" ng-show="reverseSort"></span>
                                </span>
                            </a>
                        </th>
                        <th class="created-by">
                            <a href="#" ng-click="sortingOrder='created_by'; reverseSort = !reverseSort">
                                Created By
                                <span ng-show="sortingOrder == 'created_by'">
                                    <span class="glyphicon glyphicon-triangle-top right white-font" aria-hidden="true" ng-show="!reverseSort"></span>
                                    <span class="glyphicon glyphicon-triangle-bottom right white-font" aria-hidden="true" ng-show="reverseSort"></span>
                                </span>
                            </a>
                        </th>
                        <th class="created-on">
                            <a href="#" ng-click="sortingOrder='created_at'; reverseSort = !reverseSort">
                                Created On
                                <span ng-show="sortingOrder == 'created_at'">
                                    <span class="glyphicon glyphicon-triangle-top right white-font" aria-hidden="true" ng-show="!reverseSort"></span>
                                    <span class="glyphicon glyphicon-triangle-bottom right white-font" aria-hidden="true" ng-show="reverseSort"></span>
                                </span>
                            </a>
                        </th>
                        <th class="rules">
                            <a href="#" ng-click="sortingOrder='filters'; reverseSort = !reverseSort">
                                Rules
                                <span ng-show="sortingOrder == 'filters'">
                                    <span class="glyphicon glyphicon-triangle-top right white-font" aria-hidden="true" ng-show="!reverseSort"></span>
                                    <span class="glyphicon glyphicon-triangle-bottom right white-font" aria-hidden="true" ng-show="reverseSort"></span>
                                </span>
                            </a>
                        </th>
                        <th class="buttons"></th>
                    </tr>
                </thead>
                <tbody class="table-rows">
                    <tr ng-repeat="(key, data) in pagedGroups[currentPage] | orderBy:sortingOrder:reverseSort">
                        <td>{$ data.name $}</td>
                        <td>{$ data.created_by $}</td>
                        <td>{$ data.created_at | date:'MM-dd-yyyy'$}</td>
                        <td>{$ data.query_words $}</td>
                        <td>
                            <button class="btn btn-default table-button" ng-click="showEditContact(data.name , data.filters, data.group_key)">Edit</button>
                            <button class="btn btn-default table-button" data-toggle="modal" data-target="#confirm-delete" ng-click="setGroupId(data.group_id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="paging">
            <ul>
                <li class="paging-item" ng-class="{disabled: currentPage == 0} ">
                    <a href ng-click="prevPage()">Prev</a>
                </li>
                <li class="paging-item" ng-repeat="n in range(pagedGroups.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                    <a href ng-bind="n + 1">1</a>
                </li>
                <li class="paging-item" ng-class="{disabled: currentPage == pagedGroups.length - 1}">
                    <a href ng-click="nextPage()">Next</a>
                </li>
                </ul>
        </div>
        <div class="modal modal-dialog-center" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel"><b>Are you Sure?</b></h4>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this contact group? This will not delete the contacts themselves but will delete the group.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary red" ng-click="deleteContactGroup()" data-dismiss="modal">Delete</button>
                        <button type="button" class="btn btn-primary orange" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>