<div class="col-md-8" ng-controller="groupController" ng-if="showCreateGroup">
    <div class="main-container">
        <form ng-submit="">
            <div class="row container-head" ng-if="createGroup">
                <span class="container-heading bold">Create Group</span>
            </div>
            <div class="row form-horizontal" ng-if="!createGroup">
                <div class="form-group">
                    <label class="col-sm-2 control-label container-heading bold text-left quarter-width">Edit Group:</label>
                    <div class="input-wrapper-active two-third-width right">
                        <input id="group_name" type="text" ng-model="groupName" placeholder="Group Name" class="container-heading bold">
                    </div>
                </div>
            </div>
            <div class="row sub-head">
                <span class="grey-font bold">Define the rules of your contact group:</span>
            </div>
            {% include 'query.html' %}
            <div class="row">
                <div class="form-inline form-group">
                    <span class="grey-font" ng-if="createGroup">Max number of results:</span>
                    <span class="grey-font" ng-if="!createGroup">Limit random results to:</span>
                    <span>&nbsp;</span>
                    <input class="num-rows form-control" type="number" ng-model="numberOfRows">
                    <span>&nbsp;</span>
                    <span class="grey-font">(leave blank for no limit)</span>
                </div>
            </div>
            <div class="row">
                <button class="green white-font" ng-click="fetchResults()">{$ queryStarted ? 'Refresh Results' : 'Display Results' $}</button>
            </div>
            <div class="row">
                &nbsp;
            </div>
            <div class="row" ng-if="queryStarted == true && rows.length == 0">
                <span class="grey-font bold">Sorry. There are no results that match your query. Please adjust your Rules.</span>
            </div>
            <div class="row" ng-if="queryStarted == true && rows.length > 0">
                <div class="col-md-2">
                    <span>Results ({$ rows.length $})</span>
                </div>
                <div class="col-md-4">
                    <button class="grey" ng-click="selectFunction()">{$ allRowsSelected() ? 'Deselect All' : 'Select All' $}</button>
                </div>
            </div>
            <div class="row">
                &nbsp;
            </div>
            <div class="row" ng-if="queryStarted == true && rows.length > 0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="green white-font" ng-repeat="column in columns">{$ column.name $}</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="row in rows">
                        <td>
                            <div>
                                <input type="checkbox" id="checkbox" ng-model="row.selected" class='pseudo-checkbox sr-only'>
                                <label for='checkbox' class='fancy-checkbox-label'></label>
                            </div>
                        </td>
                        <td ng-repeat="field in row.fields track by $index">{$ field $}</td>
                    </tr>
                </table>
            </div>
            <div class="row" ng-if="queryStarted == true && rows.length > 0 && createGroup">
                <div class="col-md-3 col-md-offset-9">
                    <button class="right pink white-font" data-toggle="modal" data-target="#group_name_popup" ng-disabled="!anyRowsSelected()">Create Group</button>
                </div>
            </div>
            <div class="row" ng-if="queryStarted == true && rows.length > 0 && !createGroup">
                <div class="col-md-2 col-md-offset-8">
                    <button class="orange white-font">Cancel</button>
                </div>
                <div class="col-md-2">
                    <button class="pink white-font" ng-click="updateGroup(filters)">Save Changes</button>
                </div>
            </div>
            <!--

            +++++ MODAL +++++

            -->
            <div id="group_name_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Group Name</h4>
                        </div>
                        <div class="modal-body">
                            <h4>Please enter the name of your group:</h4>
                            <p>The name of the group should be as descriptive as possible so that you can find it in future. The name must be unique.</p>
                            <div class="input-wrapper-active full-width no-left-padding no-left-margin">
                                <input id="group_name" type="text" ng-model="groupName" placeholder="Group Name">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="" data-dismiss="modal">Cancel</button>
                            <button class="pink white-font" data-dismiss="modal" ng-click="saveGroup(filters)">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--

            +++++ MODAL +++++

            -->
        </form>
    </div>
</div>