<div class="col-md-8" ng-controller="groupController" ng-if="showCreateGroup">
    <form ng-submit="">
        <div class="row" ng-if="createGroup">
            <h1>Create Group</h1>
        </div>
        <div class="row form-inline" ng-if="!createGroup">
            <label class="text-large">Edit Group:</label>
            <input class="form-control" ng-model="groupName">
        </div>
        <div class="row">
            <h5>Define the rules of your contact group:</h5>
        </div>
        {% include 'query.html' %}
        <div class="row">
            <div class="form-inline form-group">
                <span>Limit random results to:</span>
                <span>&nbsp;</span>
                <input class="form-control" type="number" ng-model="numberOfRows">
                <span>&nbsp;</span>
                <span>(0 for no limit)</span>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-default green white-front" ng-click="fetchResults()">{$ queryStarted ? 'Refresh Results' : 'Display Results' $}</button>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row" ng-if="queryStarted == true && rows.length == 0">
            <h4 class="grey-front">Sorry. There are no results that match your query. Please adjust your Rules.</h4>
        </div>
        <div class="row" ng-if="queryStarted == true && rows.length > 0">
            <div class="col-md-2">
                <h4>Results ({$ rows.length $})</h4>
            </div>
            <div class="col-md-2">
                <button class="btn grey" ng-click="selectFunction()">{$ allRowsSelected() ? 'Deselect All' : 'Select All' $}</button>
            </div>
        </div>
        <div class="row" ng-if="queryStarted == true && rows.length > 0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th class="green white-front" ng-repeat="column in columns">{$ column.name $}</th>
                    </tr>
                </thead>
                <tr ng-repeat="row in rows">
                    <td>
                        <input type="checkbox" ng-model="row.selected">
                    </td>
                    <td ng-repeat="field in row.fields track by $index">{$ field $}</td>
                </tr>
            </table>
        </div>
        <div class="row" ng-if="queryStarted == true && rows.length > 0 && createGroup">
            <div class="col-md-3 col-md-offset-9">
                <button class="btn btn-primary right pink white-front" data-toggle="modal" data-target="#group_name_popup" ng-disabled="!anyRowsSelected()">Create Group</button>
            </div>
        </div>
        <div class="row" ng-if="queryStarted == true && rows.length > 0 && !createGroup">
            <div class="col-md-2 col-md-offset-8">
                <button class="btn orange white-front">Cancel</button>
            </div>
            <div class="col-md-2">
                <button class="btn pink white-front">Save Changes</button>
            </div>
        </div>
        <!--

        +++++ MODAL +++++

        -->
        <div id="group_name_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Group Name</h4>
                    </div>
                    <div class="modal-body">
                        <h4>Please enter the name of your group:</h4>
                        <p>The name of the group should be as descriptive as possible so that you can find it in future. The name must be unique.</p>
                        <input class="form-control" ng-model="groupName">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary pink white-front" data-dismiss="modal" ng-click="saveGroup()">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <!--

        +++++ MODAL +++++

        -->
    </form>
</div>