<div class="col-md-8" ng-controller="groupController" ng-if="showCreateGroup && showContactMenu">
    <div class="main-container">
        <form ng-submit="">
            <div class="row container-head heading-top-margin" ng-if="createGroup">
                <span class="h1-text">Create Group</span>
                <span class="glyphicon glyphicon-info-sign info-icon white-back pink-front" data-toggle="modal" data-target="#show_info_popup"></span>
                {% include 'create_group_info.html' %}
            </div>
            <div class="row container-head heading-top-margin" ng-if="!createGroup">
                <div>
                    <span class="h1-text">Edit Group:</span>
                    <div class="input-wrapper-active half-width right input-align-big-label no-left-margin">
                        <input id="group_name_big" type="text" ng-model="$parent.groupName" placeholder="Group Name" class="input-text-large">
                    </div>
                </div>
            </div>
            <div class="row sub-head">
                <span class="p-text">Define the rules of your contact group:</span>
            </div>
            {% include 'query.html' %}
            <div class="row">
                <div class="form-inline form-group">
                    <span class="caption-text" ng-if="createGroup">Max number of results:</span>
                    <span class="caption-text" ng-if="!createGroup">Limit random results to:</span>
                    <span class="caption-text">&nbsp;</span>
                    <input class="num-rows form-control input-text" type="number" ng-model="numberOfRows" min="0">
                    <span class="caption-text">&nbsp;</span>
                    <span class="caption-text">(leave blank for no limit)</span>
                </div>
            </div>
            <div class="row button-line">
                <button class="pink-back white-front" ng-disabled="!queryValid() || !queryDone" ng-click="fetchResults()">{$ buttonText $}</button>
            </div>
            <div class="row" ng-if="queryStarted == true && queryDone && rows.length == 0">
                <span class="grey-font caption-text">Sorry. There are no results that match your query. Please adjust your Rules.</span>
            </div>
            <div class="row results-head" ng-if="queryStarted == true && rows.length > 0">
                <span class="p-text">Results ({$ rows.length $})</span>
                <button class="pink-back white-front right left-margin" data-toggle="modal" data-target="#group_name_popup" ng-disabled="!anyRowsSelected()">Create Group</button>
                <button class="grey-background right" ng-click="selectFunction()">{$ allRowsSelected() ? 'Deselect All' : 'Select All' $}</button>
            </div>
            <div class="row" ng-if="queryStarted == true && rows.length > 0" style="overflow: auto;">
                <table class="table contact-groups">
                    <thead class="table-heading aqua-back">
                        <tr>
                            <th class="checkbox-heading"></th>
                            <th ng-repeat="column in columns">{$ column.name $}</th>
                        </tr>
                    </thead>
                    <tbody class="table-rows">
                        <tr ng-repeat="row in pagedGroups[currentPage]" class="results-row">
                            <td class="checkbox-table-column">
                                <div>
                                    <input type="checkbox" id="checkbox_{$ $index $}" ng-model="row.selected" class='pseudo-checkbox sr-only'>
                                    <div class="fancy-checkbox-div checkbox-align">
                                        <label for='checkbox_{$ $index $}' class='fancy-checkbox-label glyphicon' ng-class="{'glyphicon-ok' : row.selected}">&nbsp;</label>
                                    </div>
                                </div>
                            </td>
                            <td ng-repeat="field in row.fields track by $index">{$ formatDate(field) $}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row spaced has-checkbox=column" ng-if="queryStarted == true && rows.length > 0 && createGroup">
                <button class="right pink-back white-front" data-toggle="modal" data-target="#group_name_popup" ng-disabled="!anyRowsSelected()">Create Group</button>
            </div>
            <div class="row" ng-if="queryStarted == true && rows.length > 0 && !createGroup">
                <button class="pink-back white-front right left-margin" ng-click="updateGroup(filters)">Save Changes</button>
                <button class="orange white-front right">Cancel</button>

            </div>
            <div class="row paging" ng-if="queryStarted == true && rows.length > 0 && createGroup && pagedGroups.length != 1">
                <ul>
                    <li class="paging-item" ng-repeat="n in range(pagedGroups.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                        <a href ng-bind="n + 1" ng-class="n == currentPage ? 'current-page' : 'not-current-page'">1</a>
                    </li>
                </ul>
            </div>
            <!--

            +++++ MODAL +++++

            -->
            <div id="group_name_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h2 class="modal-title" id="myModalLabel">Group Name</h2>
                        </div>
                        <div class="modal-body">
                            <p>Please enter the name of your group:</p>
                            <p class="p-text-small">The name of the group should be as descriptive as possible so that you can find it in future. The name must be unique.</p>
                            <div class="input-wrapper-active full-width no-left-padding no-left-margin">
                                <input id="group_name" type="text" ng-model="groupName" placeholder="Group Name">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="orange white-front" data-dismiss="modal">Cancel</button>
                            <button class="pink-back white-front" data-dismiss="modal" ng-click="saveGroup(filters)">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--

            +++++ MODAL +++++

            -->
        </form>
    </div>
</div>