<div class="content-container" ng-controller="surveyController" ng-if="showExportSurveyData && showSurveyDataMenu">
    <div class="main-container">
        <div class="row container-head heading-top-margin">
            <span class="h1-text">Export Survey Data</span>
        </div>
        <div class="row sub-head">
            <span class="p-text">Define the rules for your data export</span>
        </div>
        {% include 'query.html' %}
        <div class="row button-line">
            <button class="pink-back white-front" ng-disabled="!queryValid() || !queryDone" ng-click="fetchResults()">{$ buttonText $}</button>
        </div>
        <div class="row" ng-if="queryStarted == true && queryDone && rows.length == 0">
            <span class="caption-text">Sorry. There are no results that match your query. Please adjust your Rules.</span>
        </div>
        <div class="row results-head" ng-if="queryStarted && rows.length > 0">
            <span class="p-text">Results ({$ rows.length $})</span>
            <button class="grey-background" ng-click="selectFunction()">{$ allRowsSelected() ? 'Deselect All' : 'Select All' $}</button>
            <button class="pink-back white-front" ng-click="exportCsv()" ng-disabled="!anyRowsSelected()">Export Data</button>
        </div>
        <div class="row" ng-if="queryStarted == true && queryDone  && rows.length > 0">
            <table class="table contact-groups">
                <thead class="table-heading aqua-back">
                    <tr>
                        <th></th>
                        <th class="general" ng-repeat="column in columns">{$ column.name $}</th>
                    </tr>
                </thead>
                <tbody class="table-rows">
                    <tr ng-repeat="row in pagedGroups[currentPage]" class="results-row">
                        <td class="checkbox-table-column">
                           <div>
                                <input type="checkbox" id="checkbox_{$ $index $}" ng-model="row.selected" class='pseudo-checkbox sr-only'>
                                <div class="fancy-checkbox-div right">
                                    <label for='checkbox_{$ $index $}' class='fancy-checkbox-label glyphicon' ng-class="{'glyphicon-ok' : row.selected}">&nbsp;</label>
                                </div>
                            </div>
                        </td>
                        <td ng-repeat="field in row.fields track by $index">{$ formatDate(field) $}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row" ng-if="queryStarted == true && rows.length > 0 && createGroup">
            <button class="right pink-back white-front" ng-click="exportCsv()" ng-disabled="!anyRowsSelected()">Export Data</button>
        </div>
        <div class="row paging" ng-if="queryStarted == true && rows.length > 0 && createGroup && pagedGroups.length != 1">
            <ul>
                <li class="paging-item" ng-repeat="n in range(pagedGroups.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                    <a href ng-bind="n + 1" ng-class="n == currentPage ? 'current-page' : 'not-current-page'">1</a>
                </li>
            </ul>
        </div>
    </div>
</div>