<div class="col-md-8" ng-controller="surveyController" ng-if="showExportSurvey">
    <div class="main-container">
        <div class="row container-head">
            <span class="container-heading bold">Export Survey</span>
        </div>
        <div class="row sub-head">
            <span class="grey-font">Search for your survey:</span>
        </div>
        <div class="row">
            <div class="form-inline data-line">
                <label class="grey-font label-size">Survey Name:</label>
                <input class="input-size" type="text" placeholder="Name" ng-model="surveySearchForm.name">
            </div>
            <div class="form-inline data-line">
                <label class="label-size grey-font">Date Range:</label>
                <label class="date-label-size grey-font">From:</label>
                <input class="date-input-size" type="text" ng-model="surveySearchForm.from" id="datepicker">
                <label class="to-label-size grey-font">To:</label>
                <input class="date-input-size" type="text" ng-model="surveySearchForm.to" id="datepicker">
            </div>
        </div>
        <div class="row button-line">
            <button class="btn btn-default turquoise-button " ng-click="getSurveys()" ng-disabled="!(!!surveySearchForm.name || !!surveySearchForm.from  || !!surveySearchForm.to)">Display Results</button>
        </div>
        <div class="results-head" ng-if="queryStarted">
            <span class="grey-font">Results ({$ rows.count $})</span>
            <button class="btn grey-background" ng-click="selectFunction()">{$ allRowsSelected() ? 'Deselect All' : 'Select All' $}</button>
        </div>
        <div class="row" ng-if="queryStarted == true"> <!-- && rows.length > 0 -->
            <table class="table table-striped">
                <thead class="table-heading white-font">
                    <tr>
                        <th></th>
                        <th class="survey-name">Survey Name</th>
                        <th class="survey-date">Start Date</th>
                    </tr>
                </thead>
                <tbody class="table-rows">
                    <tr ng-repeat="survey in Surveys">
                        <td><input type="checkbox" ng-model="row.selected"></td>
                        <td>{$ survey.pk $}</td>
                        <td>{$ survey.fields.created_on $}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row" ng-if="queryStarted == true && rows.length > 0">
            <div class="col-md-3 col-md-offset-9">
                <button class="btn btn-primary right pink white-font" data-toggle="modal" data-target="#group_name_popup" ng-disabled="!anyRowsSelected()">Export Data</button>
            </div>
        </div>
    </div>
</div>