{% extends 'base.html' %}

{% block content %}
    <div class="col-sm-2">
      <hr>

      <ul class="nav nav-stacked">
        <li><a href="javascript:;">Export Survey</a></li>
        <li><a href="javascript:">Export Data Set</a></li>
        <li><a href="javascript:">Data Visualisation</a></li>
      </ul>

      <hr>

  	</div>
    <div class="col-sm-6">
    <div class="col-md-12">
      <hr>
    <strong>Export Survey</strong>
        <p>Search for your survey</p>
      <hr>
        <form class="form form-horizontal">

        </form>
        </div>
    </div>
 {% endblock %}