<div class="col-md-8" ng-controller="surveyController" ng-if="showExportSurveyData">
    <div class="main-container">
        <div class="row container-head">
            <span class="container-heading bold">Export Survey Data</span>
        </div>
        <div class="row sub-head">
            <span class="sub-heading grey-font">Define the rules for your data export</span>
        </div>
        {% include 'query.html' %}
        <div class="row button-line">
            <button class="btn btn-default turquoise-button" ng-click="fetchResults()">{$ queryStarted ? 'Refresh Results' : 'Display Results' $}</button>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row" ng-if="queryStarted == true && rows.length == 0">
            <span class="grey-font bold">Sorry. There are no results that match your query. Please adjust your Rules.</span>
        </div>
        <div class="row" ng-if="queryStarted == true && rows.length > 0">
            <div class="col-md-2">
                <span>Results ({$ rows.length $})</span>
            </div>
            <div class="col-md-2">
                <button class="btn grey" ng-click="selectFunction()">{$ allRowsSelected() ? 'Deselect All' : 'Select All' $}</button>
            </div>
        </div>
        <div class="row" ng-if="queryStarted == true && rows.length > 0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th class="green white-font" ng-repeat="column in columns">{$ column.name $}</th>
                    </tr>
                </thead>
                <tr ng-repeat="row in rows">
                    <td>
                        <input type="checkbox" ng-model="row.selected">
                    </td>
                    <td ng-repeat="field in row.fields track by $index">{$ field $}</td>
                </tr>
            </table>
        </div>
        <div class="row" ng-if="queryStarted == true && rows.length > 0 && createGroup">
            <div class="col-md-3 col-md-offset-9">
                <button class="btn btn-primary right pink white-font" ng-click="exportCsv()" ng-disabled="!anyRowsSelected()">Export Data</button>
            </div>
        </div>
    </div>
</div>