<div class="col-md-2 yellow submenu">
    <div class="menu-logo-container">
        <img class="menu-logo " src="{{ STATIC_URL }}img/ghelogo.png"/>
    </div>
    <hr>

        <ul class="nav nav-stacked">
            <li><a class="menu-text"><img src="{{ STATIC_URL }}img/image18.png"/> {{ user.get_username }}</a></li>
            <li><a class="menu-text" href="http://www.vumi.org"><img src="{{ STATIC_URL }}img/image19.png"/> Survey Builder</a></li>
            <li><a class="menu-text" href="" ng-click="toggleSurveyDataMenu()"><img src="{{ STATIC_URL }}img/image23.png"/> Contact Management</a></li>
            <li><a class="menu-text" href=""><img src="{{ STATIC_URL }}img/image25.png"/> Service Dashboard</a></li>
            <li><a class="menu-text" href="" ng-click="toggleContactMenu()"><img src="{{ STATIC_URL }}img/image21.png"/> Survey Data</a></li>
            <li><a class="menu-text" href="{% url 'admin:index' %}"><img src="{{ STATIC_URL }}img/image20.png"/> Admin..</a></li>
        </ul>

    <hr>
</div>

{% include 'survey-data-submenu.html' %}
{% include 'contact-manag-submenu.html' %}