<div ng-controller="queryController">
    <div class="row" ng-repeat="filter in filters">
        <div class="row row-breath" ng-if="$index != 0">
            <div class="col-md-3 toggle-container">
                <input toggle-checkbox class="form-control" data-on="and" data-off="or" ng-true-value="'and'" ng-false-value="'or'" ng-model="filter.loperator" type="checkbox">
            </div>
        </div>
        <div class="row" ng-repeat="fieldFilter in filter.filters">
            <div class="col-md-3" ng-if="$index == 0">
                <select class="form-control input-text" ng-model="filter.field" ng-options="field.name for field in fields">
                    <option value="">Please select</option>
                </select>
            </div>
            <div class="row row-breath" ng-if="$index != 0">
                <div class="col-md-3 col-md-offset-5 toggle-container">
                    <input toggle-checkbox class="form-control" data-on="and" data-off="or" ng-true-value="'and'" ng-false-value="'or'" ng-model="fieldFilter.loperator" type="checkbox">
                </div>
            </div>
            <div class="col-md-3" ng-if="$index != 0">
            </div>
            <div class="col-md-3">
                <select class="form-control input-text" ng-model="fieldFilter.operator" ng-options="op.operator as op.name for op in operators">
                    <option value="">Please select</option>
                </select>
            </div>
            <div class="col-md-3" ng-model="filter.value">
                <div class="input-wrapper-active">
                    <input type="text" ng-model="fieldFilter.value" placeholder="Value">
                </div>
            </div>
            <div class="col-md-3" ng-if="$index != 0">
                <div class="row">
                    <div class="col-md-2">
                        <a class="caption-text" ng-click="removeFieldFilter($parent.$parent.$index, $index)"><img width="16" height="16" src="{{ STATIC_URL }}img/red_cross.png"></a>
                    </div>
                    <div class="col-md-10">
                        <a class="caption-text" ng-click="addFieldFilter($parent.$parent.$index)" href="">Add new condition+</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3" ng-if="filter.filters.length == 1">
                <div class="row">
                    <div class="col-md-2" ng-if="$parent.$parent.$index != 0">
                        <a class="caption-text" ng-click="removeFilter($parent.$parent.$parent.$index)"><img width="16" height="16" src="{{ STATIC_URL }}img/red_cross.png"></a>
                    </div>
                    <div class="col-md-10">
                        <a class="caption-text" ng-click="addFieldFilter($parent.$parent.$index)" href="">Add new condition+</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-breath">
        <a class="caption-text" ng-click="addFilter()" href="">Add new data field+</a>
    </div>
    <div class="row">
        <span class="caption-text blue-font" ng-if="queryWords != ''">Query: {$queryWords$}</span>
    </div>
</div>