<div ng-controller="queryController">
    <div class="row" ng-repeat="filter in filters" ng-init="outerIndex = $index">
        <div class="row row-breath" ng-if="$index != 0">
            <div class="col-md-3 toggle-container">
                <!--
                <input toggle-checkbox class="form-control" data-on="and" data-off="or" ng-true-value="'and'" ng-false-value="'or'" ng-model="filter.loperator" type="checkbox">
                -->
                <div class="switch switch-green">
                <span class="and-switch">AND</span>
                    <input type="radio" class="switch-input" name="toggle_{$ outerIndex $}" id="lop_and_{$ outerIndex $}" value="and" checked ng-model="filter.loperator">
                    <label for="lop_and_{$ outerIndex $}" class="switch-label switch-label-off">&nbsp;&nbsp;</label>
                    <input type="radio" class="switch-input" name="toggle_{$ outerIndex $}" id="lop_or_{$ outerIndex $}" value="or" ng-model="filter.loperator">
                    <label for="lop_or_{$ outerIndex $}" class="switch-label switch-label-on or-switch-label">&nbsp;&nbsp;</label>
                    <span class="switch-selection"></span>
                    <span class="or-switch">OR</span>
                </div>
            </div>
        </div>
        <div class="row" ng-repeat="fieldFilter in filter.filters" ng-init="innerIndex = $index">
            <div class="col-md-3" ng-if="$index == 0">
                <select class="form-control input-text" ng-model="filter.field" ng-options="field.name for field in fields" ng-change="getAnswers(filter.field.name, fieldFilter)">
                    <option value="">Please select question</option>
                </select>
            </div>
            <div class="row row-breath" ng-if="$index != 0">
                <div class="col-md-3 col-md-offset-5 toggle-container">
                    <!--
                    <input toggle-checkbox class="form-control" data-on="and" data-off="or" ng-true-value="'and'" ng-false-value="'or'" ng-model="fieldFilter.loperator" type="checkbox">
                    -->
                    <div class="switch switch-green">
                        <span class="and-switch">AND</span>
                        <input type="radio" class="switch-input" name="toggle_{$ outerIndex $}_{$ innerIndex $}" value="and" checked ng-model="fieldFilter.loperator">
                        <label for="lop_and_{$ outerIndex $}_{$ innerIndex $}" class="switch-label switch-label-off">&nbsp;&nbsp;</label>
                        <input type="radio" class="switch-input" name="toggle_{$ outerIndex $}_{$ innerIndex $}" id="lop_or_{$ outerIndex $}_{$ innerIndex $}" value="or" ng-model="fieldFilter.loperator">
                        <label for="lop_or_{$ outerIndex $}_{$ innerIndex $}" class="switch-label switch-label-on or-switch-label">&nbsp;&nbsp;</label>
                        <span class="switch-selection"></span>
                        <span class="or-switch">OR</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3" ng-if="$index != 0">
            </div>
            <div class="col-md-3">
                <select class="form-control input-text" ng-model="fieldFilter.operator" ng-options="op.operator as op.name for op in operators">
                    <option value="">Please select rule</option>
                </select>
            </div>
            <div class="col-md-3" ng-model="filter.value">
                <div class="input-wrapper-active">
                    <input type="text" ng-model="fieldFilter.value" placeholder="Value" ng-mouseover="showToolTip(fieldFilter)" ng-mouseleave="hideToolTip(fieldFilter)">
                    <div class="custom-tooltip white-front black-back" ng-if="fieldFilter.tooltip.items && fieldFilter.tooltip.show">
                        <div class="custom-tooltip-head">
                            Values:
                        </div>
                        <div class="custom-tooltip-body">
                            <span ng-repeat="item in fieldFilter.tooltip.items">
                                {$ item $}
                            </span>
                            <br>
                            <span>
                                Note:
                            </span>
                            <span>
                                 Dates are in YYYY-MM-DD format.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" ng-if="$index != 0">
                <div class="row">
                    <div class="col-md-10 float-right">
                        <button class="caption-text pink-back white-front float-right" ng-click="addFieldFilter($parent.$parent.$index)">Add new rule</button>
                        <a class="caption-text float-right cross-margin" ng-click="removeFieldFilter($parent.$parent.$index, $index)"><img width="16" height="16" src="{{ STATIC_URL }}img/red_cross.png"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3" ng-if="filter.filters.length == 1">
                <div class="row">
                    <div class="col-md-10 float-right" ng-if="$parent.$parent.$index != 0">
                        <button class="caption-text pink-back white-front float-right" ng-click="addFieldFilter($parent.$parent.$index)">Add new rule</button>
                        <a class="caption-text float-right cross-margin" ng-click="removeFilter($parent.$parent.$parent.$index)"><img width="16" height="16" src="{{ STATIC_URL }}img/red_cross.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-breath">
        <button class="caption-text pink-back white-front" ng-click="addFilter()">Add new data field</button>
    </div>
    <div class="row light-grey-back row-breath">
        <span class="caption-text black-front" ng-if="queryWords != ''"><strong>Query: </strong>{$queryWords$}</span>
    </div>
</div>