<div ng-controller="queryController">
    <div class="row" ng-repeat="filter in filters">
        <div class="row row-breath" ng-if="$index != 0">
            <div class="col-md-3 toggle-container">
                <!--
                <input toggle-checkbox class="form-control" data-on="and" data-off="or" ng-true-value="'and'" ng-false-value="'or'" ng-model="filter.loperator" type="checkbox">
                -->
                <div class="switch switch-green">
                    <input type="radio" class="switch-input" name="toggle_{$$index$}" id="lop_and_{$$index$}" value="and" checked ng-model="filter.loperator">
                    <label for="lop_and_{$$index$}" class="switch-label switch-label-off">&nbsp;&nbsp;</label>
                    <input type="radio" class="switch-input" name="toggle_{$$index$}" id="lop_or_{$$index$}" value="or" ng-model="filter.loperator">
                    <label for="lop_or_{$$index$}" class="switch-label switch-label-on">&nbsp;&nbsp;</label>
                    <span class="switch-selection"></span>
                </div>
            </div>
        </div>
        <div class="row" ng-repeat="fieldFilter in filter.filters">
            <div class="col-md-3" ng-if="$index == 0">
                <select class="form-control input-text" ng-model="filter.field" ng-options="field.name for field in fields">
                    <option value="">Please select question</option>
                </select>
            </div>
            <div class="row row-breath" ng-if="$index != 0">
                <div class="col-md-3 col-md-offset-5 toggle-container">
                    <!--
                    <input toggle-checkbox class="form-control" data-on="and" data-off="or" ng-true-value="'and'" ng-false-value="'or'" ng-model="fieldFilter.loperator" type="checkbox">
                    -->
                    <div class="switch switch-green">
                        <input type="radio" class="switch-input" name="toggle_{$$parent.$index$}_{$$index$}" id="lop_and_{$$parent.$index$}_{$$index$}" value="and" checked ng-model="fieldFilter.loperator">
                        <label for="lop_and_{$$parent.$index$}_{$$index$}" class="switch-label switch-label-off">&nbsp;&nbsp;</label>
                        <input type="radio" class="switch-input" name="toggle_{$$parent.$index$}_{$$index$}" id="lop_or_{$$parent.$index$}_{$$index$}" value="or" ng-model="fieldFilter.loperator">
                        <label for="lop_or_{$$parent.$index$}_{$$index$}" class="switch-label switch-label-on">&nbsp;&nbsp;</label>
                        <span class="switch-selection"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3" ng-if="$index != 0">
            </div>
            <div class="col-md-3">
                <select class="form-control input-text" ng-model="fieldFilter.operator" ng-options="op.operator as op.name for op in operators">
                    <option value="">Please select rule</option>
                </select>
            </div>
            <div class="col-md-3" ng-model="filter.value">
                <div class="input-wrapper-active">
                    <input type="text" ng-model="fieldFilter.value" placeholder="Value" title="Dates are in YYYY-MM-DD format and strings are case sensitive">
                </div>
            </div>
            <div class="col-md-3" ng-if="$index != 0">
                <div class="row">
                    <div class="col-md-2">
                        <a class="caption-text" ng-click="removeFieldFilter($parent.$parent.$index, $index)"><img width="16" height="16" src="{{ STATIC_URL }}img/red_cross.png"></a>
                    </div>
                    <div class="col-md-10">
                        <button class="caption-text turquoise-back white-front" ng-click="addFieldFilter($parent.$parent.$index)">Add new rule</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3" ng-if="filter.filters.length == 1">
                <div class="row">
                    <div class="col-md-2" ng-if="$parent.$parent.$index != 0">
                        <a class="caption-text" ng-click="removeFilter($parent.$parent.$parent.$index)"><img width="16" height="16" src="{{ STATIC_URL }}img/red_cross.png"></a>
                    </div>
                    <div class="col-md-10">
                        <button class="caption-text turquoise-back white-front" ng-click="addFieldFilter($parent.$parent.$index)">Add new rule</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-breath">
        <button class="caption-text turquoise-back white-front" ng-click="addFilter()">Add new data field</button>
    </div>
    <div class="row yellow-back row-breath">
        <span class="caption-text white-front" ng-if="queryWords != ''"><strong>Query: </strong>{$queryWords$}</span>
    </div>
</div>