body{
    font-family: "Helvetica Neue Bold";
}

.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:18px;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

.nav>li .count {
  position: absolute;
  top: 10%;
  right: 25%;
  font-size: 10px;
  font-weight: normal;
  background: rgba(41,200,41,0.75);
  color: rgb(255,255,255);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.sign-up{
    margin: 150px auto;
    width: 300px;
}

.yellow{
    background-color: #fee62c !important;
}

.yellow-back{
    background-color: #fee62c !important;
}

.pink{
    background-color: #ec2b8b;
}

.green{
    background-color: #00b9ad;
}

.red{
    background-color: #d81f23;
}

.orange{
    background-color: #f79c1a;
}

.right{
    float:right;
}

.blue-font{
    color: rgb(36, 113, 186);
}

.grey-font{
    color: rgb(121, 121, 121);
}

.grey-background{
    background-color: rgb(214, 214, 214);
}

.white-font{
    color: white;
}

.no-width{
    width: inherit;
}

.no-left-padding{
    padding-left: 0px !important;
}

.no-left-margin{
    margin-left: 0px !important;
}

.turquoise-back{
    background-color: rgb(41, 183, 171);
}

.turquoise-front{
    color: rgb(41, 183, 171);
}

.black-back{
    background-color: #000000;
}

.black-front{
    color: #000000;
}

.white-back{
    background-color: #ffffff;
}

.login-logo{
    width: 300px;
    margin-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.left{
    position: absolute;
    height: 100%;
    width: 200px;
    left: 0;
}

 .menu-logo-container{
     height: 150px;
 }

 .menu-logo{
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -40px;
    top: 50%;
    position: relative;
 }

.menu-links{
    padding-left: 30px;
}

.main-menu-item{
    padding-left: 20px;
    text-indent: -30px;
}

.menu-item{
    font-size: 14px;
    color: #8d8d8d;
}

.main-menu-item:hover, .main-menu-item:focus{
    color: #c1c1c1;
    background-color: #fee62c !important;
}

.sub-menu-item:hover, .sub-menu-item:focus{
    color: #c1c1c1;
    background-color: #ec2b8b !important;
}

.menu-item:active{
    color: #ffffff;
}

a.menu-item:focus,
a.menu-item{
    outline: none;
}

.submenu{
    height: 100%;
    min-height: 800px;
}

.menu-item-icon{
    margin-right: 12px;
}

.groups-main-container{
    margin: 100px 20px 30px;
}

.main-container{
    margin-top: 40px;
    margin-left: 100px;
}

.container-head{
    padding-bottom: 20px;
}

.groups-main-container .container-head{
    padding-left: 20px;
    padding-bottom: 40px;
}

.container-heading{
    font-size: 18px !important;
}

.sub-head{
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
}

.results-head{
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.results-head > span{
    margin-right: 40px;
}

.data-line{
    padding-bottom: 10px;
}

.query-line{
    padding-top: 100px;
}

input.query-input{
    width: 500px;
    margin-top: 10px;
}

input.search-checkbox{
    transform: scale(2);
    margin-right: 10px;
}

input.num-rows{
    width: 150px;
}

.label-size{
    width: 200px;
}

.input-size{
    width: 300px;
}

.from-label-size{
    width:50px;
}

.to-label-size{
    width:40px;
    text-align: right;
}
.date-input-size{
    width: 100px;
}

.bold{
    font-weight: bold !important;
}
.button-line{
    padding-top: 20px;
}

.top{
    margin-top: 150px;
}

.row-breath{
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-dialog-center{
    top: 25%;
}

.table-heading{
    font-weight: bold;
    font-size: 10px;
    background-color: rgb(41, 183, 171);
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: rgb(241, 241, 241);
}

.table-rows{
    font-weight: normal;
    font-size: 10px;
}

th{
    border-left: 2px solid rgb(51, 186, 175);
    border-right: 2px solid rgb(51, 186, 175);
}

table tr th:first-child{
    border-left: 0;
}

table tr th:last-child{
    border-right: 0;
}

table{
    width: 100%;
}

th.name{
    width: 15%;
}

th.created-by, th.created-at{
    width: 15%;
}

th.buttons{
    width: 20%;
}

th.rules{
    width: 35%
}

.table-button{
    height: 31px;
    width: 60px;
    background-color: #D6D6D6;
    color: rgb(66, 66, 66);
    font-size: 10px;
}

th.survey-name{
    width: 50%;
}

input[type=checkbox].select-box{
    margin-left: -30px;
    margin-right: 15px;
    transform: scale(1.5);
}

th.survey-date{
    width: 50%;
}

.red-front{
    color: #d81f23;
}

.error-msg-indent{
    padding-left: 20px;
}

div.paging{
    text-align: center;
}

li.paging-item{
    display: inline-block;
    margin-right: 5px;
}

li.paging-item > a{
    color: rgb(66, 66, 66);
    font-size: 10px;
}

input[type="text"], input[type="password"] {
    font-family: "Helvetica Neue";
    font-weight: 300;
    width: 100%;
    border-radius: 0px;
    border: none;
    padding-left: 7px;
    height: 34px;
    font-size: 14px;
    color: #666666;
    margin-bottom: 5px;
    background-color: transparent !important;
}

input[type="text"]:focus, input[type="password"]:focus {
    color: #000000 !important;
    outline: none;
    box-shadow: none;
}

.input-wrapper-active {
    display: inline-block;
    position: relative;
    margin-left: 20px;
}

.input-wrapper-active:after {
    position: absolute;
    border: 1px solid #000000;
    border-top: none;
    height: 5px;
    width: 100%;
    bottom: 6px;
    left: 0;
    content: "";
}

.half-width{
    width: 50%;
}

.full-width{
    width: 100%;
}

.three-quarter-width{
    width: 75%;
}

.quarter-width{
    width: 25%;
}

.one-fith-width{
    width: 20%;
}

.two-third-width{
    width: 66%;
}

.one-tenth-width{
    width: 10%;
}

.text-left{
    text-align: left !important;
}

.text-right{
    text-align: right !important;
}

.label-padding{
    padding-top: 7px;
}

.container-left{
    margin-left: 0;
}

.input-wrapper-active > .glyphicon{
    position: absolute;
    right: 0;
    padding: 8px 5px;
}

button, button:hover, button:focus {
    border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    height: 31px !important;
    outline: none;
    border-color: transparent !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

button:disabled {
    border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    height: 31px !important;
    outline: none;
    border-color: transparent !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    color: #CCCCCC;
    background-color: #9b9b9b;
}

.gems-button-primary{
    color: #8d8d8d;
}

/*----------CHECKBOX----------*/
input[type='checkbox'].pseudo-checkbox + label:before,
input[type='checkbox'].pseudo-checkbox + label:after{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input[type='checkbox'].pseudo-checkbox + label:before{/*unchecked icon*/
    content: "\e157";
}
input[type='checkbox']:checked.pseudo-checkbox + label:before{/*checked icon*/
    content: "\e067";
}

/*---------------------------*/