.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:18px;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

.nav>li .count {
  position: absolute;
  top: 10%;
  right: 25%;
  font-size: 10px;
  font-weight: normal;
  background: rgba(41,200,41,0.75);
  color: rgb(255,255,255);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.sign-up{
    margin: 150px auto;
    width: 300px;
}​

 .yellow{
    background-color: #fee62c;
 }

 .yellow{
    background-color: #fee62c;
 }

 .pink{
     background-color: #ec2b8b;
 }

 .green{
     background-color: #00b9ad;
 }

 .red{
     background-color: #d81f23;
 }

 .orange{
     background-color: #f79c1a;
 }

 .right{
     float:right;
 }

 .white-front{
     color: white;
 }

 .no-width{
     width: inherit;
 }

 .login-logo{
     width: 300px;
     margin-bottom: 30px;
     padding-left: 40px;
     padding-right: 40px;
 }

.left{
    position: absolute;
    height: 100%;
    width: 200px;
    left: 0;
}

 .menu-logo-container{
     height: 150px;
 }

 .menu-logo{
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -40px;
    top: 50%;
    position: relative;
 }

.submenu{
    position: absolute;
    left: 200px;
    height: 100%;
    width: 200px;
    display: none;
}

.top{
    margin-top: 150px;
}

.modal-dialog-center{
    top: 25%;
}