body{
    font-family: "Helvetica Neue";
}

.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:18px;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

.nav>li .count {
  position: absolute;
  top: 10%;
  right: 25%;
  font-size: 10px;
  font-weight: normal;
  background: rgba(41,200,41,0.75);
  color: rgb(255,255,255);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.sign-up{
    margin: 150px auto;
    width: 300px;
}

.yellow{
    background-color: #fee62c;
}

.yellow{
    background-color: #fee62c;
}

.pink{
    background-color: #ec2b8b;
}

.green{
    background-color: #00b9ad;
}

.red{
    background-color: #d81f23;
}

.orange{
    background-color: #f79c1a;
}

.right{
    float:right;
}

.blue-font{
    color: rgb(36, 113, 186);
}

.grey-font{
    color: rgb(121, 121, 121);
}

.grey-background{
    background-color: rgb(214, 214, 214);
}

.white-font{
    color: white;
}

.no-width{
    width: inherit;
}

.turquoise-button{
    background-color: rgb(41, 183, 171);
    color: #ffffff;
}

.login-logo{
    width: 300px;
    margin-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.left{
    position: absolute;
    height: 100%;
    width: 200px;
    left: 0;
}

 .menu-logo-container{
     height: 150px;
 }

 .menu-logo{
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -40px;
    top: 50%;
    position: relative;
 }

.menu-links{
    padding-left: 30px;
}

.main-menu-item{
    padding-left: 20px;
    text-indent: -30px;
}

.menu-item{
    font-size: 14px;
    color: #8d8d8d;
}

.main-menu-item:hover, .main-menu-item:focus{
    color: #c1c1c1;
    background-color: #fee62c !important;
}

.sub-menu-item:hover, .sub-menu-item:focus{
    color: #c1c1c1;
    background-color: #ec2b8b !important;
}

.menu-item:active{
    color: #ffffff;
}

a.menu-item:focus,
a.menu-item{
    outline: none;
}

.submenu{
    height: 100%;
    min-height: 800px;
}

.menu-item-icon{
    margin-right: 12px;
}

.groups-main-container{
    margin: 100px 20px 30px;
}

.main-container{
    margin-top: 40px;
    margin-left: 100px;
}

.container-head{
    padding-bottom: 20px;
}

.groups-main-container .container-head{
    padding-left: 20px;
    padding-bottom: 40px;
}

.container-heading{
    font-size: 18px;
}

.sub-head{
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: bold;
}

.results-head{
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.results-head > span{
    margin-right: 40px;
}

.data-line{
    padding-bottom: 10px;
}

.query-line{
    padding-top: 100px;
}

input.query-input{
    width: 500px;
    margin-top: 10px;
}

input.search-checkbox{
    transform: scale(2);
    margin-right: 10px;
}

input.num-rows{
    width: 150px;
}

.label-size{
    width: 200px;
}

.input-size{
    width: 300px;
}

.from-label-size{
    width:50px;
}

.to-label-size{
    width:40px;
    text-align: right;
}
.date-input-size{
    width: 100px;
}

.bold{
    font-weight: bold;
}
.button-line{
    padding-top: 20px;
}

.top{
    margin-top: 150px;
}

.row-breath{
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-dialog-center{
    top: 25%;
}

.table-heading{
    font-weight: bold;
    font-size: 10px;
    background-color: rgb(41, 183, 171);
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: rgb(241, 241, 241);
}

.table-rows{
    font-weight: normal;
    font-size: 10px;
}

th{
    border-left: 2px solid rgb(51, 186, 175);
    border-right: 2px solid rgb(51, 186, 175);
}

table tr th:first-child{
    border-left: 0;
}

table tr th:last-child{
    border-right: 0;
}

table{
    width: 100%;
}

th.name{
    width: 15%;
}

th.created-by, th.created-at{
    width: 15%;
}

th.buttons{
    width: 25%;
}

th.rules{
    width: 30%
}

.table-button{
    height: 31px;
    width: 80px;
    background-color: #D6D6D6;
    color: rgb(66, 66, 66);
    font-size: 10px;
}

th.survey-name{
    width: 50%;
}

input[type=checkbox].select-box{
    margin-left: -30px;
    margin-right: 15px;
    transform: scale(1.5);
}

th.survey-date{
    width: 50%;
}

.red-front{
    color: #d81f23;
}

.error-msg-indent{
    padding-left: 20px;
}

.container-left{
    margin-left: 0;
}